*{
    margin: 0;
}

nav{
    position: fixed;
    top: 0;
    display: flex;
    background-color: #F7F7FF;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
    gap: 80px;
}

button{
    background-color: #27187E;
    border-radius: 25px;
    color: #F7F7FF;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

#content{
    background: url(./img/background.webp) center/cover repeat;
    /* height: 100vh; */
    padding-top: 100px;
}

h1{
    display: inline-flex;
    margin-left: 625px;
    margin-top: 50px;
    color: #27187E;
    background-color: #F7F7FF80;
    padding: 10px;
    border-radius: 25px;
}

.para1 {
    padding-top: 10px;
    font-size: 30px;
    margin-top: 40px;
}

.container{
    color: #27187E;
    background-color: #F7F7FF80;
    margin: 0 550px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    border-radius: 50px;
}

.footer{
    margin-top: 40px;
    background-color: #27187E;
    color: #F7F7FF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    padding: 10px 0 10px 400px;
}