body{
    margin: 0;
    box-sizing: border-box;
    background-color: #FB3640;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}

#myForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 10px solid #000f08;
    border-radius: 25px;
    box-shadow: 0 3px 10px rgb(0,0,0,1);
    gap: 20px;
    padding: 20px;
}

input{
    color: #FB3640;
    background-color: #000f08;
    text-align: center;
    font-size: 50px;
    border-radius: 25px;
}
label{
    color: #000f08;
    font-size: 50px;
}
input[type = checkbox]{
    height: 30px;
    transform: scale(2.5);
    margin-left: 20px;
}
.formButton{
    font-size: 30px;
    background-color: #000f08;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    color: #FB3640;
}
.formButton:hover{
    border: 4px solid #000f08;
    background-color: #FB3640;
    color: #000f08;
    font-weight:bolder;
    box-shadow: 0 8px 30px rgb(0,0,0,1);
}

p{
    font-size: 20px;
}

#bookContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.container{
    text-align: left;
    padding:0 0 10px 40px;
    margin-bottom: 5px;
    border: 5px solid white;
    background-color: #000f08;
    width: 15vw;
    color: #FB3640;
    border-radius: 25px;
}

.contBtn{
    background-color: #000f08;
    border: 1px solid #FB3640;
    color: #FB3640;
    margin: 0 10px 0 10px;
}